*{
    word-break: break-all;
    color: black;
}

*:focus {
    outline: none;
}

body {
    font: 25px Helvetica;
    background: #eeeeee;
}

/*--------------------------------------------------------------------------------------------------------------------*/

header p{
    color: white;
    padding: 5px;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
#main {
    min-height: 400px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;

}

#main > article, #main > aside {
    position: relative;

    margin: 4px;
    padding: 5px;
    border: 1px solid rgba(78, 78, 78, 0.98);
    border-radius: 7pt;
    background: #999;
}

#main > article {
    flex: 3 1 80%;
    order: 1;

}
#main > aside{
    flex: 1 6 20%;
    order: 2;
}

#article-content{
    margin-right: 40px;
}

#messages-list , #online-users-list{
    /*display: flex;
    flex-direction: column-reverse;*/


    position: absolute;
    bottom: 1%;
    left: 1%;
    overflow-y: auto;
    max-height: 98.5%;
    width: 98.5%;


    list-style-type: none;
    margin: 0;
    padding: 0;

}


/*
::-webkit-scrollbar {
    width: 10px;
    bottom: 0;
    right: 0;

}

/* Track
::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 7px;


}

/* Handle
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;

}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/

#messages-list li, #online-users-list li {
    padding: 5px 10px;

}

/*--------------------------------------------------------------------------------------------------------------------*/

#footer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

#footer > input, #footer > button{
    margin: 4px;
    padding: 5px;
    border: 1px solid rgba(78, 78, 78, 0.98);
    border-radius: 7pt;
    background: #999;
}

#footer>input{
    font: 25px Helvetica;
    background: white;
    flex: 3 1 80%;
    order: 1;
}

#footer>button{
    flex: 1 6 20%;
    order: 2;
    background: #4086ff;
    color: white;
}

#footer > button:active {
    background-color: #3462ff;
}

header, footer {
    margin: 4px;
    padding: 5px;
    border: 1px solid rgba(78, 78, 78, 0.98);
    border-radius: 7pt;
    background: #999;
}

/*====================================================================================================================*/
/* Too narrow to support two columns
 This section has been taken from SENG 513 lecture notes*/
@media all and (max-width: 640px) {
    #main, #page ,#footer {
        flex-direction: column;
    }

    #main > article , #footer > button{
        /* Return them to document order */
        order: 2;
    }

    #main > aside, #footer > input {
        /* Return them to document order */
        order: 1;
    }

}



/*TO DO:
scroll bars:
    2nd for online users
    fix position

unique, custom
unique name
 */